/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #1f2937;
  padding: 16px 232px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  gap: 24px;
}

.header a {
  font-size: 18px;
  color: #ddd;
}

/* Section 1 */
.section-1 {
  background-color: #1f2937;
  padding: 120px 232px;
  display: flex;
  gap: 45px;
}

.section-1 .section-1-left h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-1 .section-1-left p {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 24px;
}

.section-1 .section-1-left .button {
  text-decoration: none;
  background-color: #3882f6;
  padding: 8px 36px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #f9faf8;
}

.section-1 .section-1-right {
  background-color: #6d747d;
  width: 1040px;
  height: 240px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 .section-1-right p {
  color: #f9faf8;
  font-size: 18px;
}

/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 48px 232px 120px 232px;
}

.section-2 h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 48px;
}

.section-2 .square-subtext-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.square-subtext-container .square-subtext {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.square-subtext-container .square-subtext .square {
  height: 175px;
  width: 175px;
  border: 4px #3882f6 solid;
  border-radius: 15px;
}

.square-subtext-container .square-subtext .subtext {
  font-size: 18px;
  color: #666;
}

/* Footer */
.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
  padding: 48px 0;
}

.footer p {
  font-size: 18px;
  color: #e5e7eb;
}
